// Language syntax highlighting



.source{



    /*------------*/
   /* JavaScript */
  /*------------*/
  &.js{


    color: @js_syntax;


    // Comments.
    span.comment{
      color: @js_comment;
      font-style: italic;

      &.definition{
        color: @js_comment;
      }

    }


    // Declarations (var, function, this).
    span.storage.var,
    span.storage.function,
    span.variable.language{
      color: @js_var;
    }
    span.constant.language{
      color: @js_reserved;
      font-style: italic;
    }
    span.constant.language.boolean{
      color: @js_boolean;
      font-style: normal;
    }
    

    // Strings.
    span.string{
      color: @js_string;
    }


    // Numbers.
    span.numeric{
      color: @js_number;
    }


    // Booleans.
    span.boolean{
      color: @js_boolean;
    }


    // Brackets, braces, operators.
    span.brace,
    span.arguments,
    span.terminator{
      color: @js_syntax;
    }
    span.operator,
    span.curly,{
      color: @js_etc;
    }
    span.keyword.operator.new{
      color: @js_var;
    }
    span.keyword.operator.logical{
      color: @js_number;
    }


    // Functions
    span.support.class,
    span.entity.function,
    span.entity.instance{
      color: @js_func-name;
    }
    span.support.function,
    span.support.constant{
      color: @js_reserved;
    }


    // Logic.
    span.keyword.control{
      color: @js_logic;
    }


  }



    /*-----*/
   /* CSS */
  /*-----*/
  &.css{


    // Comments
    span.comment{
      color: @css_comment;
    }


    // Selectors.
    span.entity.name{
      color: @css_selector;
    }
    span.entity.attribute-name{
      color: @css_class-id;
    }
    span.punctuation.definition.entity{

    }
    .meta{

      // :hover
      span.pseudo-class{
        color: @css_pseudo;
        font-style: italic;
      }

    } 


    // Property names and values.
    .property-list{

      span.property-name{
        color: @css_property;
      }

      span.property-value{

        color: @css_value;

        span.string.quoted{
          color: @css_string;
        }

      }

    }
    


  }


}




  /*------*/
 /* HTML */
/*------*/
.html{

  color: @html_text;


  // Comments.
  span.comment{
    color: @html_comment;
  }


  // Text.
  span.text{
    color: @html_text;
  }


  // Punctuation.
  span.punctuation.tag{
    color: @html_puncuate;
  }


  // Elements and attributes.
  span.tag.entity{
    color: @html_tag;
  }
  span.attribute-name.entity{
    color: @html_attr;
  }


  // Values.
  span.string{

    color: @html_value;

    span.id{
      color: @html_value;

    }

  }


}


